[project]
	description = android orc ??????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/linglu
[access "refs/for/refs/*"]
	read = group user/linglu
	push = group user/linglu
	label-Code-Review = -2..+2 group user/linglu
	label-Verified = -1..+1 group user/linglu
	rebase = group user/linglu
	removeReviewer = group user/linglu
	submit = group user/linglu
[access "refs/heads/*"]
	read = group user/linglu
	create = group user/linglu
	push = +force group user/linglu
	pushMerge = group user/linglu
[access "refs/tags/*"]
	push = +force group user/linglu
	pushTag = group user/linglu
	pushSignedTag = group user/linglu
